<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.tenthgeek.sikhhistoryapp"
    version   = "1.0.0">

<name>Sikh Gurus History</name>

<description>
A simple application dedicated to the history of sikh(religion) gurus.
</description>

<author href="https://www.tenthgeek.blogspot.com/" email="bsinghs.007@gmail.com">
Baljeet Singh
</author>

<icon href='icon.png' />

</widget>
